</div>
</div>
<div class="row navbar-padding-top">
    <div class="col-md-offset-1 col-md-6">
        <div class="row">
            <div class="col-md-4">
                <!-- <a href="/profile"  class="btn btn-block btn-default">
                    <h4>Profile</h4>
                </a> -->
                <button class="btn btn-block btn-default" style="color:black;" data-toggle="modal" data-toggle="tooltip"
                    title="profile" data-target="#myProfileModal"><i class="fas fa-user fa-7x"></i>
                    <h4>Profile</h4>
                </button>
                <br>

            </div>
            <%if(typeof role!= 'undefined' && role=='admin'){%>
            <div class="col-md-4">
                <a href="/manage" style="color:black;" class="btn btn-block btn-default"><i class="fas fa-users fa-7x"></i>
                    <h4>Accounts</h4>
                </a><br>
            </div>
            <div class="col-md-4">
                <a href="/view" style="color:black;" class="btn btn-block btn-default"><i class="far fa-eye fa-7x"></i>
                    <h4>View database</h4>
                </a><br>
                <!-- <button class="btn btn-block btn-default"><a href="/view" style="color:black;font-family: 'Open Sans', sans-serif;"><i class="far fa-eye fa-7x"></i></a><br><h4>View database</h4></button> -->
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <button style="color:black;" class="btn btn-block btn-default" data-toggle="modal" data-toggle="tooltip"
                    title="reports" data-target="#fileImportModal"><i class="fas fa-file-import fa-7x"></i>
                    <h4>Import</h4>
                </button><br>
                <!-- <button class="btn btn-block btn-default"><a href="/import" style="color:black;font-family: 'Open Sans', sans-serif;"><i class="fas fa-file-import fa-7x"></i></a><br><h4>Import</h4></button> -->
            </div>
            <% } %>
            <div class="col-md-4">
                <button style="color:black;" class="btn btn-block btn-default" data-toggle="modal" data-toggle="tooltip"
                    title="reports" data-target="#reportsModal"><i class="fas fa-file-export fa-7x"></i>
                    <h4>Reports</h4>
                </button><br>
                <!-- <button class="btn btn-block btn-default"><a href="/report" style="color:black;font-family: 'Open Sans', sans-serif;"><i class="fas fa-file-export fa-7x"></i></a><br><h4>Reports</h4></button> -->
            </div>
            <%if(typeof role!= 'undefined' && role=='admin'){%>
            <div class="col-md-4">
                <a href="/clearDB" style="color:black;" class="btn btn-block btn-default" onclick="return confirm('Are you sure you want to delete database?');"><i
                        class="fas fa-trash-alt fa-7x" style="color:rgba(255, 6, 6, 0.644)"></i>
                    <h4>Delete Database</h4>
                </a><br>
                <!-- <button class="btn btn-block btn-default"><a href="/clearDB" style="color:red"><i class="fas fa-trash-alt fa-7x"></i></a><h4>Delete Database</h4></button> -->
            </div>
            <% } %>

        </div>
    </div>
    <div class="col-md-4" style="margin-left:50px;position: relative;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);"
        onload="getStatus()">
        <!-- <div class="col-md-offset-6 col-md-6" style="position: relative;
-webkit-box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);
box-shadow: 0 24px 10px -20px rgba(0, 0, 0, 0.5);"> -->
        <h2 align="center">Welcome
            <%if(typeof username!= 'undefined' && username!=null){%>
            <%=firstName%>
            <%}else{%>
            User
            <%}%>
        </h2>
        <hr />
        <div class="col-md-12" style="padding-bottom:10px">
            <a class="weatherwidget-io" id="mustBeRemoved" href="https://forecast7.com/en/40d35n94d87/maryville/"
                data-label_1="MARYVILLE" data-label_2="WEATHER" data-theme="pure">MARYVILLE WEATHER</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
            <hr>
            <h5>
                <strong>Recent excel import details:</strong><br>
                <h6>
                    <span style="padding-left:30px"></span>Last upload status: <span id="lastUpdatedStatus"></span><br>
                    <span style="padding-left:30px"></span>Last uploaded on: <span id="lastUpdatedTime"></span><br>
                </h6>
            </h5>
        </div>
    </div>
</div>
</div>
<%if(typeof role!= 'undefined' && role=='admin'){%>
<div id="fileImportModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <center>Import report</center>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-1 col-md-10">
                        <!-- <div class="jumbotron"> -->
                        <form action="/import" class="form-inline" method="post" enctype="multipart/form-data" style="padding-left:20px;padding-right:20px;">
                            <label for="file" class="form-label">
                                <h2>Select file</h2>
                            </label><br>
                            <div class="input-group">
                                <label class="input-group-btn" style="width: 1%">
                                    <span class="btn btn-info">
                                        Browse&hellip; <input type="file" name="Filename" id="Filename" style="display: none;"
                                            multiple>
                                    </span>
                                </label>
                                <input type="text" class="form-control" style="width:100%" readonly>
                            </div>
                            <br>
                            <br>
                            <input type="submit" class="btn btn-lg btn-success btn-block" name="submit" value="Upload">
                        </form>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="modal-footer">
                <!-- <input type="button" id="submitEditForm" onclick="submitEditForm()" class="btn btn-success" name="submit"
                        value="Edit User" disabled="true"> -->
                <button type="button" class="btn btn-default col-md-offset-8 col-md-4" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>
<%}%>
<div id="myProfileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <center>Profile</center>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <!-- <legend>Form Name</legend> -->

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">First name:</label>
                            <div class="col-md-6">
                                <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md"
                                    value="<%= firstName%>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Last name:</label>
                            <div class="col-md-6">
                                <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md"
                                    value="<%= lastName%>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="appendedtext">Email:</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="appendedtext" name="appendedtext" class="form-control" placeholder="placeholder"
                                        type="text" value="<%= username.substr(0,username.indexOf(" @"))%>">
                                    <span class="input-group-addon">
                                        <%=username.substr(username.indexOf("@"))%></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <input type="button" id="submitEditForm" onclick="submitEditForm()" class="btn btn-success" name="submit"
                    value="Edit User" disabled="true"> -->
                <button type="button" class="btn btn-default col-md-offset-8 col-md-4" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function validateEditForm() {
        if (document.getElementById('editEmail').value != undefined &&
            document.getElementById('editFirstname').value != undefined &&
            document.getElementById('editLastname').value != undefined &&
            document.getElementById('editEmail').value != "" &&
            document.getElementById('editFirstname').value != "" &&
            document.getElementById('editLastname').value != "") {
            document.getElementById('submitEditForm').disabled = false;
            return true;
        } else {
            document.getElementById('submitEditForm').disabled = true;
            return false;
        }
    }
    function submitEditForm() {
        if (validateEditForm()) {
            let url = "/manage/edit_user";
            let xhttp = new XMLHttpRequest()
            xhttp.open("POST", url, true)
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var args = '';
            var e = document.getElementById("editInpRole");
            var selectedRole = e.options[e.selectedIndex].value;
            args += 'email=' + document.getElementById('const').value;
            args += '&firstname=' + document.getElementById('editFirstname').value;
            args += '&lastname=' + document.getElementById('editLastname').value;
            args += '&role=' + selectedRole;
            xhttp.send(args)
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let resp = JSON.parse(this.responseText)
                    if (resp.updateStatus) {
                        getUsers();
                        $('#editUserModal').modal('toggle');
                        document.getElementById('responseSuccess').innerHTML = 'User profile updated successfully'
                        $('#responseSuccess').show();
                        $('#responseSuccess').fadeIn();
                        $("#responseSuccess").fadeTo(5000, 500).slideUp(500, function () {
                            $("#responseSuccess").alert('close');
                        });
                        // document.getElementById('alerts').innerHTML="";
                        // document.getElementById('alerts').innerHTML='<div class="alert alert-success" id="responseSuccess" style="display:none;"></div><div class="alert alert-danger" id="responseFailure" style="display:none;"></div>';
                    }
                    else {
                        document.getElementById('responseFailure').innerHTML = 'Error occured while updating user profile!'
                        $('#responseFailure').show();
                        $("#responseFailure").fadeTo(5000, 500).slideUp(500, function () {
                            $("#responseFailure").alert('close');
                        });
                        document.getElementById('alerts').innerHTML = "";
                        document.getElementById('alerts').innerHTML = '<div class="alert alert-success" id="responseSuccess" style="display:none;"></div><div class="alert alert-danger" id="responseFailure" style="display:none;"></div>';
                    }
                } else {
                    console.log(this.status)
                }
            }
        }
    }
</script>